
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; 
    color: #333; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    padding: 20px;
    box-sizing: border-box; 
}


h1 {
    color: #4a4a4a;
    margin-bottom: 30px;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}


.input-container {
    display: flex;
    gap: 10px; 
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px; 
}


#taskInput {
    flex-grow: 1; 
    padding: 0px 15px;
    border: 1px solid #ddd;
    border-radius: 80px; 
    font-size: 0.95em;
    outline: none; 
    transition: border-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
}

#taskInput:focus {
    border-color: #7ab8e1; 
}


#confirm {
    background-color: #6a9cde; 
    color: white;
    border: none;
    padding: 8px 22px;
    border-radius: 80px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#confirm:hover {
    background-color: #5a8bc7; 
    transform: translateY(-2px); 
}

#confirm:active {
    transform: translateY(0); 
    background-color: #4b7bb0;
}


.todo-container {
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
    padding: 25px;
    width: 100%;
    max-width: 500px;
    min-height: 100px; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
}


.task {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #fdfdfd; 
    border: 1px solid #f0f0f0;
    border-left: 3px solid #6a9cde; 
    padding: 15px;
    border-radius: 0px;
    transition: all 0.3s ease;
}

.task:hover {
    transform: translateY(-2px); 
    box-shadow: inset 0 -3px 8px rgba(73, 73, 73, 0.098);
    border-left-color: rgb(196, 196, 196) ;
}


.task-item {
    font-size: 1.1em;
    word-break: break-word; 
    flex-grow: 1;
    margin-right: 15px; 
    display: flex; 
    align-items: center;
    gap: 10px; 
}

/* Input w trybie edycji zadania */
.edit-input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

.editInput:focus {
    border-color: #6a9cde;
}


.task .task-item + button { 
    margin-left: 10px; 
}

.task button { 
    white-space: nowrap; 
}


.edit-task {
    background-color: #5a5a5a; 
    color: white;
    border: none;
    padding: 
    6px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-left: 10px; 
}

.edit-task:hover {
    background-color: #464646;
    transform: scale(1.05);
}

.edit-task:active {
    transform: scale(1);
    background-color: #222222;
}


.save-task-button { 
    background-color: #5cb85c; 
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.task-item button:hover {
    background-color: #4cae4c;
    transform: scale(1.05);
}

.task-item button:active {
    transform: scale(1);
    background-color: #449d44;
}


.delete-button {
    background-color: #e25747; 
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-left: 10px; 
}

.delete-button:hover {
    background-color: #c0392b;
    transform: scale(1.05); 
}

.delete-button:active {
    transform: scale(1);
    background-color: #a93226;
}
.task-item{
    text-transform: capitalize;
    margin-left: 10px;
}

.completed{
    text-decoration: line-through; 
    color: #acacac; 
}
